<footer class="wl-footer">
  <div class="container">

    <!-- Top Section -->
    <div class="row g-5 wl-footer-top">

      <!-- Brand -->
      <div class="col-12 col-md-4">
        <div class="wl-footer-brand">
          <div class="wl-footer-brand-icon">
            <i class="fa-solid fa-wind"></i>
          </div>
          <span class="wl-footer-brand-name">Wonder<span>Lust</span></span>
        </div>
        <p class="wl-footer-tagline">
          Discover extraordinary places to stay, curated for the discerning traveller.
        </p>
        <div class="wl-footer-socials mt-4">
          <a href="#" class="wl-footer-social"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="wl-footer-social"><i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="wl-footer-social"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="wl-footer-social"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
      </div>

      <!-- Explore Links -->
      <div class="col-6 col-md-2 offset-md-2">
        <p class="wl-footer-heading">Explore</p>
        <ul class="wl-footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/listing">All Listings</a></li>
          <li><a href="/listing/new">New Listing</a></li>
        </ul>
      </div>

      <!-- Company Links -->
      <div class="col-6 col-md-2">
        <p class="wl-footer-heading">Company</p>
        <ul class="wl-footer-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>

      <!-- Support Links -->
      <div class="col-6 col-md-2">
        <p class="wl-footer-heading">Support</p>
        <ul class="wl-footer-links">
          <li><a href="#">Help Centre</a></li>
          <li><a href="#">Safety</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/terms">Terms</a></li>
        </ul>
      </div>

    </div>

    <!-- Bottom Bar -->
    <div class="wl-footer-bottom">
      <p class="wl-footer-copy">© 2025 <span>WonderLust</span> Private Limited. All rights reserved.</p>
      <div class="wl-footer-legal">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
        <a href="#">Cookies</a>
      </div>
    </div>

  </div>
</footer>